$white           : #FFFFFF;
$black           : #000000;

$orange          : #f3960a;
$green           : #21632f;
$gray            : #7f7f7f;
$lightgray1      : #fafafa;
$lightgray2      : #f2f2f2;
$lightgray3      : #f5f5f5;

$font-primary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-secondary: 'Fira Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif; //Tahoma для заголовков
// $font-sans: 'Open Sans', Arial, Helvetica, sans-serif;

// $font-monospace: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; //"Courier New", Courier, mono
$font-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

//$font-gothic: GOTHIC, 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;



// layout settings

$padding1 : 20px;//horizontal padding for main tag

$gutter-width        : 0;
$grid-padding        : $gutter-width;


$num-cols-mobile:   4;
$num-cols-tablet:   8;
$num-cols-desktop:  24;

$small               : 0;//480px and below
$medium              : 30.1em;//481px+ :480+1.6
$large               : 48.1em;//769px+ :768+1.6
$extra-large         : 64.1em;//1026px+ :1024+1.6

